
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Customer information system allows you to strore and retrieve customer details</h1> @Html.ActionLink("Add customer details", "CustomerInput")
    </div>
</body>
</html>
